
body{
    background:white;
}
li{
    padding-left: 40px;
    padding-right:20px;
}
#logo{
  border-radius: 20px;
    font-family: 'Unlock', cursive;
    background:black;
    color:antiquewhite;
    border-left:40px;
   text-align: center;
}

 a{
     font-size: 20px;
    font-family: 'Gamja Flower', cursive;
     color: white;
 }
    div .form-inline{
        float:right;
        padding:10px;
        

 }
 


.navbar {
    padding:0rem;
    margin-bottom:2rem;
  }
  
  .dropdown .dropdown-menu {
    border-radius:0;
   }
  
  
  /* Medium devices (tablets, 768px and up) 
  The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
  .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
    border-radius:0;
   }
  }
  